<div *ngIf='logged'>
  <div>
    <mat-card style="max-width: 600px; margin: 0 auto; text-align: center">
      <mat-card-header>
        <mat-card-title style="color:indigo; font-size: 1.3em; font-weight: 900; font-family: overpass;">
          ADD RECRUITER
        </mat-card-title>
      </mat-card-header>
      <mat-form-field style="width:80%">
        <input id="company" matInput type="text" required placeholder="Enter Company Name" #company>
      </mat-form-field>
      <br>
      <mat-form-field style="width:80%">
        <textarea id="desc" matInput 
        matTextareaAutosize='true'
        matAutosizeMaxRows='5'
        matAutosizeMinRows='2' 
        placeholder="Enter Company Description" #desc></textarea>
      </mat-form-field>
      <br>
      <mat-form-field style="width:80%">
        <input id='email' matInput type="text" required placeholder="Enter Email" #email>
      </mat-form-field>
      <br>
      <mat-form-field style="width:80%">
        <input id="password" matInput type="password" required placeholder="Enter Password" #password>
      </mat-form-field>
      <br>
      <button mat-raised-button color=accent (click)="addCompany(company.value, email.value, password.value, desc.value);">ADD</button>
    </mat-card>
  </div>
  <br>
  <div style="text-align:center">
    <button mat-raised-button color=primary (click)='logout()'>LOGOUT</button>
  </div>
  <h2 style="color:blue; font-size:2em; font-weight: 900; font-family: overpass;">LIST OF RECRUITERS</h2>
  <ol style="list-style-type: none;">
    <li *ngFor='let c of companys | async'>
      <mat-card style="max-width: 600px">
        <mat-card-header>
          <mat-card-title style="color:rgb(247, 63, 93); font-weight: bolder; font-size: 1.5em">
            {{c.key}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <span style="color: indigo; font-weight: bold; font-size: 1.2em">Description:</span>
          <br> {{c.payload.val()}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="removeFields(c.name)">REMOVE POSTINGS</button>
        </mat-card-actions>
      </mat-card>
      <br>
    </li>
  </ol>
</div>
<div *ngIf='!logged'>
  ADMIN is not logged.<br>
  If slow traffic, wait; else go to <a routerLink='/login' routerLinkActive='active'>LOGIN PAGE</a>
</div>